<h2>Latest Blog Posts</h2>

{{#each posts}}
<div class="post-preview">
    <h3><a href="/api/posts/{{this.id}}">{{this.title}}</a></h3>
    <p>{{this.content}}</p>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
</div>
{{else}}
<p>No posts yet! Be the first to create one!</p>
{{/each}}